.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2b2d42;
}

.login-form-container {
  padding: 20px;
  color: black;
  width: 60vw;
  background-color: white;
  border: 1px solid #ef233c;
  border-radius: 20px;
  box-shadow: 0 0 30px 4px #ef233c;
}

.link-to-signup {
  display: flex;
  justify-content: center;
  color: #ef233c;
}
