.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-detail {
  width: 70%;
  margin: 15% auto;
  border-radius: 10px;
  background-color: #2b2d42;
  box-shadow: 0 0 30px 4px #ef233c;
}

.custom-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-detail-body {
  color: white;
  text-align: justify;
  padding: 20px;
}

.product-detail-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 35px !important;
  font-weight: bold;
}

.button-style {
  color: white;
  font-weight: bold;
  background-color: #e94d7e;
  border: #e94d7e solid 2px;
  margin-right: 10px;
}

.button-style:hover {
  color: white;
  font-weight: bold;
  background-color: #f9394f;
  border: #f25366 solid 2px;
}
